:root {
    --zelena: #4caf50;
}

body {
    margin: 0px;
}

input[type=text]:focus,
input[type=password]:focus {
    outline: none;
}

.prihlaseni {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
    height: 25em;
}

.prihlaseni-form {
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.prihlaseni input[type=text],
input[type=password],
input[type=url] {
    border: 0px solid white;
    border-bottom: 2px var(--zelena) solid;
    height: 10%;
    width: 100%;
}

.prihlaseni input[type=text]:focus,
input[type=password]:focus {
    border: 3px var(--zelena) solid;
}

.prihlaseni h1 {
    background-color: var(--zelena);
    margin: 0%;
    margin-bottom: 2%;
    height: 15%;
}

.prihlaseni input[type=checkbox] {
    border: 1px var(--zelena) solid;
    background-color: var(--zelena);
    margin-bottom: 1%;
}

.prihlaseni input[type=submit] {
    margin-top: 5px;
    background-color: var(--zelena);
    border-radius: 5%;
    width: 10em;
    height: 2.5em;
}

.heslo::after {}


.tt-table {
}

.tt-div {
}