<html lang="en">
{% load tailwind_tags %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href={% static 'bakaweb_app/img/logo.png' %}>
    {% tailwind_css %}
    <title>{% block title %}Bakaweb{% endblock title %}</title>
</head>
<body>
    {% block content %}
        <p>no content block in template ;(</p>
    {% endblock content %}
</body>
</html>