{% extends 'bakaweb_app/base.html' %}
{% block title %} - rozvrh{% endblock title %}
{% block content %}
<div class="timetable">
<h1>Stálý rozvrh</h1>
<table>
    <tr>
        <th></th>
        {% for hour in timetable.Hours %}
            <th>{{ hour.Caption }}</th> <!-- class's id-->
        {% endfor %}
    </tr>
    <tr>
        <th></th>
        {% for hour in timetable.Hours %}
            <th>{{ hour.BeginTime }} - {{ hour.EndTime }}</th> <!-- times -->
        {% endfor %}
    </tr>
    {% for day in timetable.Days %}
    <tr>
        <td>{{ day.DayOfWeek }}</td>
        {% for hour in day.Atoms %} 
            {% for id, name in subjects.items %} <!-- decoding subject's name from its id -->
                {% if id == hour.SubjectId %}
                    <td>{{ name }}<br>
                {% endif %}
            {% endfor %}
            {% for id, name in teachers.items %} <!-- decoding teacher's name from its id -->
                {% if id == hour.TeacherId %}
                    {{ name }}</td>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</div>
{% endblock content %}